
#navs {
  display:inline;
  padding: 0 10px;
}

.top-bar {
  margin-left:0 !important;
}


#dealers-title {
  margin-left: 525px;
  margin-top: -42px;
}

#players-cards, #dealers-cards {
  background-color:#ddd;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 0 20px;
}

#card {
  height:200px;
  width:125px;
  background:white;
  border:1px solid black;
}

#cardImg {
  margin-top: 70px;
  margin-left: 16px;
}
